/*** uncss> filename: http://vordem.mx/css/style.css ***/
@font-face {
   font-family: 'Calibre';
      src: url('../font/Calibre-Regular.eot');
      src: url('../font/Calibre-Regular.eot?#iefix') format('embedded-opentype'),
           url('../font/Calibre-Regular.woff') format('woff'),
           url('../font/Calibre-Regular.otf') format('opentype'),
           url('../font/Calibre-Regular.svg') format('svg');
   font-weight: 500;
}

@font-face {
   font-family: 'Calibre';
      src: url('../font/Calibre-Medium.eot');
      src: url('../font/Calibre-Medium.eot?#iefix') format('embedded-opentype'),
           url('../font/Calibre-Medium.woff') format('woff'),
           url('../font/Calibre-Medium.otf') format('opentype'),
           url('../font/Calibre-Medium.svg') format('svg');
   font-weight: 600;
}

@font-face {
   font-family: 'Calibre';
      src: url('../font/Calibre-Bold.eot');
      src: url('../font/Calibre-Bold.eot?#iefix') format('embedded-opentype'),
           url('../font/Calibre-Bold.otf') format('opentype'),
           url('../font/Calibre-Bold.svg') format('svg');
   font-weight: 700;
}

/*///RESETS///*/

*, *:focus {
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
  color: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Calibre', sans-serif;
}

.wrapper {
  margin: auto;
}

.logo-holder {
  display: flex;
  width: 100%;
  padding: 20px;
  color: white;
  font-size: 16px;
  margin-top: -5vh;
  margin-bottom: 5vh;
}

.logo-holder img {
  margin: 0 auto;
  height: 10vh;
}

/*///HEADER STYLING///*/

.landing {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.landing .wrapper {
  display: block;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  font-size: 35px;
  background: rgba(47, 46, 46, 0.74);
}

header h1 {
  max-width: 600px;
  margin: 0 auto;
  color: white;
  font-weight: 400;
  text-align: center;
}

.book-outer {
  max-width: 223px;
  margin: 0 auto;
}

.book-btn {
  margin: 0 auto;
  max-width: 223px;
  margin-top: 50px;
  padding: 20px;
  padding-bottom: 11px;
  border: 2px solid #4a4a4a;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
  transition: all .2s ease;
  color: #4a4a4a;
  text-align: center;
}

.book-btn.dark {
  color: white;
  border-color: white;
}

.book-btn.dark:hover {
  background-color: white;
  color: #4a4a4a;
}

.book-btn:hover {
  background-color: #4a4a4a;
  color: white;
}


.links-holder {
  /* display: flex; */
  /* justify-content: space-between; */
  position: absolute;
  bottom: 10px;
  /* width: 680px; */
  font-size: 18px;
  color: white;
  right: 0;
  left: 0;
  text-align: center;
}

.links-holder a:last-of-type {
  font-weight: bold;
  text-decoration: underline;
  margin-left: 2vh;
}

/*///SECTION ONE STYLING///*/

section {
  background-color: white;
}

.sec {
  width: 100%;
  height: 100%;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.sec-heading {
  flex: 1;
}

.sec-img {
  flex: 1;
  background-image: url(../img/idea.jpg);
  background-size: cover;
  padding: 10vh;
}

.sec-img img {
  display: none;
}

.sec-img.first {
  display: block;
}

.sec-img.second {
  display: none;
}

.sec-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 40px;
  color: #4a4a4a;
  padding: 10vh;
}

.sec-heading.portfolio {
  padding-left: 2vh;
  padding-right: 2vh;
}

.sec-heading h1 {
  font-weight: normal;
  margin: 0;
}

.sec-heading h1 span {
  font-weight: bold;
}

.sec-heading p {
  width: 100%;
  font-size: 20px;
}

.sec-heading p.paragraph {
  max-width: 500px;
}

.sec-heading p a {
  text-decoration: underline;
  font-weight: bold;
}

.info-holders {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.info-holder {
  width: 50%;
  color: #4a4a4a;
  text-align: center;
  margin-top: 60px;
}

.info-holder img {
  height: 100px;
  margin: 0 auto;
}

.info-holder .subtitle {
  font-weight: bold;
  margin: 0;
  max-width: 100%;
}

.info-holder p {
  margin: 0 auto;
  max-width: 300px;
}

/*///SECTION TWO STYLING///*/

.sec-dark {
  color: white;
  background-color: #4a4a4a;
}

.sec-dark .wrapper .sec-heading {
  color: white;
}

.sec-two .wrapper .sec-img {
  flex: 1;
  background-image: url(../img/demo.jpg);
  background-size: cover;
}

.sec-two .wrapper .sec-img img {
  display: none;
}

.sec-centered .wrapper .sec-heading h1 {
  text-align: center;
  margin: 0 auto;
}

.column {
    float: left;
    width: 50%;
    padding: 1vh;
}

.column img {
    margin-top: 12px;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*///SECTION THREE STYLING///*/
.portfolio .wrapper .row {
  margin-top: 4vh;
}

.clients {
  margin: 0 auto;
  margin-top: 4vh;
  text-align: center;
}

.clients img {
  max-width: 200px;
  max-height: 100px;
  margin: 4vh;
}

.map {
  width: calc(100% + 20vh);
  height: calc(100% + 20vh);
  margin: -10vh;
}

.map img{
  display: block;
}

.contact .wrapper .sec-heading .book-outer {
  max-width: 300px;
  margin: 0;
}

.contact .wrapper .sec-heading .book-outer .book-btn {
  max-width: 300px;
  margin-top: 0;
}

/*///FOOTER STYLING///*/

footer {
  width: 100%;
  height: auto;
  color: white;
  background-color: #4a4a4a;
  padding: 35px 4vh !important;
}

.foot-wrap {
  display: flex;
  justify-content: space-between;
}

.foot-con {
  font-size: 16px;
}

.foot-con p {
  margin: 0;
  margin-bottom: 5px;
}

.foot-link p, .foot-link a {
  margin: 0;
}

.foot-link {
  color: white;
}

.foot-link a {
  margin-right: 20px;
  margin-top: 10px;
}

.foot-con .copyright {
  color: #bdb7b7;
}

.contact-info a:last-of-type {
  font-weight: bold;
  text-decoration: underline;
}

@media only screen and (max-width: 900px) {
  .landing {
    background-size: initial;
  }

  header h1 {
    padding-left: 4vh;
    padding-right: 4vh;
  }

  h1 {
    font-size: 33px;
    text-align: center;
    margin: 0 auto !important;
  }

  p {
    font-size: 17px !important;
    text-align: center;
    margin: 0 auto;
    margin-top: 17px;
    margin-bottom: 17px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .sec-heading {
    padding: 8vh;
  }

  .sec-img {
    padding: 0;
  }

  .sec-img.first {
    display: none;
  }

  .sec-img.second {
    display: block;
  }

  .sec-img img {
    display: block !important;
    width: 100%;
  }

  .info-holder {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    margin-top: 60px;
  }

  .info-holder img {
    margin-bottom: 20px;
  }

  .column {
      width: 100%;
  }

  .map {
    width: 100%;
    height: 300px;
    margin: 0;
  }

  .contact .wrapper .sec-heading .book-outer {
    max-width: 300px;
    margin: 0 auto;
  }

  .contact .wrapper .sec-heading .book-outer .book-btn {
    font-size: 22px;
  }

  .foot-con {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .foot-con img {
    margin: 0 auto;
  }

  .foot-link {
    margin: 0 auto;
  }
}
