body {
  margin: 0 auto;
  padding: 4em 1em;
  max-width: 50em;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

  color: #555;
}

h1, h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1, h2, strong {
  color: #333;
}

a {
  color: #476bc1;
}
