@font-face {
  font-family: Calibre;
  font-style: normal;
  src: url("assets/fonts/Calibre-Regular.otf") format("opentype");
}

@font-face {
  font-family: Calibre;
  font-style: italic;
  src: url("assets/fonts/Calibre-RegularItalic.otf") format("opentype");
}

@font-face {
  font-family: Calibre;
  font-style: normal;
  font-weight: bold;
  src: url("assets/fonts/Calibre-Semibold.otf") format("opentype");
}

@font-face {
  font-family: Calibre;
  font-style: italic;
  font-weight: bold;
  src: url("assets/fonts/Calibre-SemiboldItalic.otf") format("opentype");
}


body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Calibre", "Arial", sans-serif;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  color: #555;
  background: #FFFFFF;
  font-size: x-large;
}

body header {
  width: 100%;
  padding-top: 4em;
  position: relative;
  display: inline-block;
}

body header img {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  width: 100px;
}

body header nav {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

body header nav ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body header nav ul li {
  display: inline;
}

body header nav ul li a {
  font-size: medium;
  font-weight: bold;
  margin-left: 30px;
}

body main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  max-width: 90%;
}

body main, body footer {
  padding-bottom: 1em;
}

body footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: #000;
  color: #fff;

  text-align: right;
  padding-bottom: 0px;
  padding-top: 0.5em;
}

body footer img {
  float: right;
  margin-right: 2%;
  max-width: 200px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgba(0, 0, 0, 0.4);
}

p {
  margin: 0 auto;
  max-width: 25em;
}

.rotate {
  margin-top: 1em;
  height: 2em;
}

.rotate span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
  text-align: center;
  font-weight: 700;
  left: 0;
  right: 0;

  -webkit-animation: rotateWords 16s linear infinite 0s;
  -ms-animation: rotateWords 16s linear infinite 0s;
  animation: rotateWords 16s linear infinite 0s;
}

.rotate span:nth-child(2) {
  -webkit-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
}

.rotate span:nth-child(3) {
  -webkit-animation-delay: 8s;
  -ms-animation-delay: 8s;
  animation-delay: 8s;
}

.rotate span:nth-child(4) {
  -webkit-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

@-webkit-keyframes rotateWords {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    width: 0px;
    white-space: nowrap;
  }
  5% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    width: calc(100% - 2em);
    white-space: nowrap;
  }
  6% {
    white-space: normal;
  }
  10% {
    opacity: 1;
    width: calc(100% - 2em);
    white-space: normal;
  }
  30% {
    opacity: 0;
    width: calc(100% - 2em);
    white-space: normal;
  }
  100% {
    opacity: 0;
    width: calc(100% - 2em);
    white-space: normal;
  }
}
@-ms-keyframes rotateWords {
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
    width: 0px;
    white-space: nowrap;
  }
  5% {
    opacity: 1;
    -ms-animation-timing-function: ease-out;
    width: calc(100% - 2em);
    white-space: nowrap;
  }
  6% {
    white-space: normal;
  }
  10% {
    opacity: 1;
    width: calc(100% - 2em);
    white-space: normal;
  }
  30% {
    opacity: 0;
    width: calc(100% - 2em);
    white-space: normal;
  }
  100% {
    opacity: 0;
    width: calc(100% - 2em);
    white-space: normal;
  }
}
@keyframes rotateWords {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    width: 0px;
    white-space: nowrap;
  }
  5% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    width: calc(100% - 2em);
    white-space: nowrap;
  }
  6% {
    white-space: normal;
  }
  10% {
    opacity: 1;
    width: calc(100% - 2em);
    white-space: normal;
  }
  30% {
    opacity: 0;
    width: calc(100% - 2em);
    white-space: normal;
  }
  100% {
    opacity: 0;
    width: calc(100% - 2em);
    white-space: normal;
  }
}
